<div class="login_container">
  <main>
    <h1>Bem vindo ao ByteBank</h1>


    <form (ngSubmit)="login()">
      <div class="field">
        <input
          type="text"
          placeholder="Insira a Conta"
          name="conta"
          [(ngModel)]="conta"
        />
      </div>
      <div class="field">
        <input
          type="text"
          placeholder="Insira a Agencia"
          name="agencia"
          [(ngModel)]="agencia"
        />
      </div>
      <div class="field">
        <input
          type="password"
          placeholder="Insira a Senha"
          name="senha"
          [(ngModel)]="senha"
        />
      </div>

      <button type="submit">Entrar</button>
    </form>
  </main>
</div>

